/**==========================================

全体設定

==========================================*/
body{
  color: #444;
  margin: 0;
  padding: 0;
  line-height: 150%;
  background: #f6f5f4;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}


/**==========================================

レイアウト

==========================================*/
.site-width{
  width: 900px;
  margin: 0 auto;
}

#main{
  
  min-height: 600px;
  margin-top: 50px;
}

.page-2colum #main{
  width: 760px;

}
h2{
  text-align: center;
  font-size: 30px;
}
.page-2colum #contents{
  display: flex;
}

/**==========================================

ヘッダー

==========================================*/

header{
  background: #444;
  height: 90px;
  margin-bottom: 60px;
  display: flex;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}
header h1{
  color: white;
  font-size: 50px;
  width:300px;
  height: 100px;
  line-height: 100px;
  float: left;
}
header h1 a{
  text-decoration: none;
  color: white;
}
.flexbox{
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

/* ヘッダーのメニュー */

nav #top-nuv{
  width: 500px;
  height: 100px;
}
#top-nav ul li{
  margin-left: 10px;
}
nav ul li{
  list-style: none;
}
nav a{
  text-decoration: none;
  color: white;
}
nav a:hover{
  text-decoration: underline;
}

/**==========================================

サイドバー

==========================================*/

#sidebar{
  width: 220px;
  box-sizing: border-box;
  margin-top: 50px;
  background: #f8f8f8;
  height: 380px;
  padding: 20px 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
#sidebar ul{
  padding: 0;
  margin: 0;
  text-align: center;
}
#sidebar ul li{

  display: block;


}
#sidebar nav a{
  font-size: 16px;
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;

  position: relative;
}

#sidebar nav ul li a:after, #sidebar nav ul li a:before {
  transition: all .5s;
}

#sidebar nav ul li a:after, #sidebar nav ul li a:before {
  transition: all .5s;
}

nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
#sidebar nav ul li a:hover {
  color: #555;
}




/*----------------------
検索サイドバー
/*----------------------*/
.form .area-drop{
  height: 370px;
  line-height: 370px;
  background: #f6f5f4;
  color: #ccc;
  margin-bottom: 50px;
  position:relative;
  text-align: center;
}
.form .input-file{
  height: 370px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.search-bar .calendar-label {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 36px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.search-bar .calendar-label::before {
  position: absolute;
  content: "";
  top: 0;
  right: -43px;
  width: 36px;
  height: 36px;
  background-color: #444;
  background-image: url("icon_calendar.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.search-bar input[type="date"] {
  position: relative;
  padding: 0 10px;
  width: 170px;
  height: 36px;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 14px;
  color: #999;
}
.search-bar input[type="date"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
.search-bar input[type="date"]::-webkit-clear-button{
  -webkit-appearance: none;
}
.search-bar input[type="date"]::-webkit-calendar-picker-indicator{
  position: absolute;
  right: 5px;
  top: 0px;
  padding: 0;
  width: 36px;
  height: 36px;
  background: transparent; 
  color: transparent;
  cursor: pointer;
}
.calendar{
  color: white;
  position: absolute;
  top: 10px;
  left: 136px;

}
#sidebar select{
    padding: 10px;
    width: 100%;
    border-color: #ccc;
    border-radius: 0;
    font-size: 14px;
    -webkit-appearance: none;
    cursor: pointer;
}
#sidebar h1{
  font-size: 14px;
}
#sidebar label.search{
  margin-top: 10px;
}
#sidebar .selectbox{
  position: relative;
}
#sidebar .icn-select::after{
  position: absolute;
    top: 15px;
    right: 10px;
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid #333;
    border-right: 7px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 7px solid transparent;
    content: "";
}
#sidebar input[type="submit"]{
    border: none;
    width: 165px;
    height: 40px;
    background: #444;
    color: white;
    font-size: 14px;
    margin-top: 20px;
}


/**==========================================

テーブル

==========================================*/
table{
  margin-left: 20px;
  border-spacing: unset;
}
table thead{
  background: #f8f8f8;
  height: 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
table thead th{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 120px;
}
tbody td{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  height: 30px;
}
td a{
  text-decoration: none;
  color: white;
  background: #444;
  display: block;
  width: 80%;
  /* box-shadow: 0 0 8px rgba(0,0,0,.3); */
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}




.anken-detail table{
  width: 80%;
  margin: 10px auto;
  margin-bottom: 100px;
  border-collapse: collapse;
}

.anken-detail tbody{
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}

.anken-detail table tr{
  border-bottom: solid 2px white;
}

.anken-detail table tr:last-child{
  border-bottom: none;
}

.anken-detail table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #808080;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.anken-detail table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #808080;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.anken-detail table td{
  width: 70%;
  text-align: center;
  padding: 10px 0;
  background: white;
  border-bottom: 1px solid #bbb4b4;
}

table input[type=text],table input[type="date"],table select.time{
  width: 70%;
  margin: 0 auto;
  
  display: inline-block;
}

/**==========================================

フォーム

==========================================*/

.form{
  margin: 0 auto;
padding: 30px;
width: 400px;
background: white;
box-shadow: 0 0 10px rgba(0,0,0,.3);
}
label{
  display: block;
}


input[type="text"], input[type="password"], input[type="number"],input[type="date"], .form select, select.time,
textarea {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    height: 60px;
    border: none;
    background: #f6f5f5;
    font-size: 18px;
    cursor: text;
}
input.en{
  width: 80%;
  display: inline-block;
}

.anken-form .imgDrop-container{
  width: 100%;
  height: 250px;
 
  padding-right: 15px;
  box-sizing: border-box;
}

.anken-form .area-drop{
  width: 100%;
  height: 100%;
  background: #f6f5f4;
  margin-bottom: 15px;
  text-align: center;
  line-height: 150px;
  color: #ccc;
  position: relative;
  box-sizing: border-box;
}

.anken-form .prev-img{
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 10px;
}

.anken-form .input-file{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /*必ずz-indexをつけないと登録画面を変更する際にドラッグ&ドロップできなくなる*/
}



/*---------------------
エラーメッセージ
/*---------------------*/
.area-msg {
    padding: 0 0 10px 0;
    color: red;
    font-size: 13px;
  }

  label.err input, label.err select{
    background: #f7dcd9;
  }


  
  .social-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  input.social{
    width: 120px;
    height: 40px;
    display: block;
    font-size: 15px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
  }
  .form p{
    font-size: 10px;
  }
  .form p a{
    color: #444;
  }
  .form p.note{
    font-size: 15px;
    margin: 20px 0;
  }
  
  .big-btn input[type="submit"],.big-btn a{
    margin: 20px auto;
    padding: 0;
    border: none;
    background: #444;
    color: white;
    height: 60px;
    width: 400px;
    font-size: 20px;
    display: block;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
input::placeholder {
  color: #e0e0e0;
}


/*========================================
  ページネーション
========================================*/

.pagination {
  position: relative;
  overflow: hidden;
}

.pagination-list {
  position: relative;
  left: 50%;
  float: left;
  padding-left: 0;
  list-style: none;
}

.pagination .list-item {
  position: relative;
  left: -50%;
  float: left;
  margin-right: 5px;
}

.pagination .list-item:last-child {
  margin-right: 0;
}

.pagination .list-item a {
  display: block;
  padding: 5px 10px;
  background: #eee;
  color: black;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.pagination .list-item.active a {
  background: #333;
  color: white;
}

.pagination .list-item a:hover {
  background: #333;
  color: white;
}
/*========================================
  Jsのスライドメッセージ
========================================*/
.msg-slide{
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: rgba(122, 206, 230, 0.6);
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}

/**==========================================

フッター

==========================================*/
footer{
  background: #444;
  color: white;
  font-size: 5px;
  text-align:center;
}
footer a{
  color: white;
}
